
  <nav class="teal lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Naveen Raju</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="https://www.github.com/planetofcode">Github</a></li>
      </ul>
    </div>
  </nav>
  <ul id="mobile-demo" class="sidenav">
    <li><a href="https://www.github.com/planetofcode">Github</a></li>
  </ul>
