<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/head %>
</head>
<body>
  <% include ./partials/header %>
  <br><br><br>
  <div class="container">
    <div class="center-align">

    <h3>Welcome to BetterPlace hiring challenge!</h3>
    </div>
  </div>
    <div class="row">
        <div class="col-lg-12">
            <div>
                <center>
                    <form action="/channels" method="POST">
                        <input class="btn btn-primary btn-large" type="submit" name="submit" value="Get Channels List">
                    </form>
                </center>
            </div>
        </div>
    </div>
  </div>

</div>
</body>